# Основные библиотеки
requests==2.31.0
beautifulsoup4==4.12.2
colorama==0.4.6

# Сетевые инструменты
python-whois==0.8.0
dnspython==2.4.2
phonenumbers==8.13.19

# Парсинг и утилиты
fake-useragent==1.4.0
tldextract==3.6.0

# Форматирование вывода
tabulate==0.9.0
pyfiglet==0.8.post1
termcolor==2.3.0
